.form-container {
  display: grid;
  place-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* form itselff */
.big-container {
  justify-content: left;
  border: solid 1px transparent;
  background-color: rgb(236, 236, 236);
  width: 100vw;
  height: 100vh;
  display: grid;

  padding: 20px;
}

/* form items */

.form-stack.recipe-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.segment {
  display: grid;
  row-gap: 10px;
}

.recipe-form label {
  font-weight: 600;
  font-size: 11px;
  color: black;
}

.rating label {
  float: right;
  position: relative;
  height: 40px;
  cursor: pointer;
  justify-content: left;
  
}
.rating label:not(:first-of-type) {
  padding-right: 2px;
}
.rating label:before {
  content: "\2605";
  font-size: 20px;
  color: #c1c1c1;
  line-height: 1;
  border: #b52f2f;

}
.rating input {
  display: none;
}
.rating input:checked ~ label:before,
.rating:not(:checked) > label:hover:before,
.rating:not(:checked) > label:hover ~ label:before {
  color: rgb(254,217,9);
}

.inline {
display: grid;
grid-template-columns: 0.5fr 1fr;
}

.segment, .inline {
padding-top: 12px;
}

.second-column, .third-column, .fourth-column {
  display: grid;
  grid-template-rows: 12px 1fr;
}

.courses {
  font-size: 10px;
}
