
.nav-container {
    /* padding-top: 40px; */
    background-color: rgb(197, 226, 231);
    min-height: 100vh;
    display: grid;
    grid-template-rows: 50px 50px 50px;

}

.options-icon {
  margin-left: 10px;
  padding-left: 10px;
}

.form-style > input {
    text-align: left;
    width: 170px;
    height: 20px;
    border-radius: 5px;
    padding-bottom: 1px;
    margin-left: 10px;
    font-size: 10px;

  }

  .grid-menu {
    display: grid;

  }

  .grid-menu-two {
    grid-template-columns: 20px 1fr ;
    column-gap: 5px;
  }

  .remove {
    text-decoration: none;
    border: none;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    font-size: 12px;
    color: rgb(114, 114, 143);
    font-weight: 600;
  }

  .remove:hover {
    color: wheat
  }


.btn-add {
    text-decoration: none;
    display: grid;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    color: rgb(33, 33, 33);
    border-left: 4px solid transparent;
    height: 40px;
    padding-left: 10px;
 

    }
    
    .btn-add:hover {
      border-left: 4px solid rgb(62, 128, 146);
      background-color: rgb(158, 205, 212);
      cursor: pointer;
 
    }
    .btn-add:hover .remove {
      color: rgb(62, 128, 146);
      color: white
    }

    
    .btn-add:active {
      box-shadow: inset 0px 3px 7px transparent;
      transform: translateY(2px);
    }

    .end-page {
        display: grid;
        align-self: end;
        margin-bottom: 60px;

    }


