.main-container {
  display: grid;
  grid-template-rows: 20px 1fr;
  padding-left: 20px;
  background-color: rgba(240, 248, 255);
}

#main-container-settings {
  grid-template-rows: 60px 60px;
  gap: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, min-content));
  grid-gap: 20px;
  align-content: start;
}

.box {
    min-width: 330px;
    max-width: 330px;
    height: 355px;
    color: rgb(17, 12, 12);
    font-size: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 35px 1fr 35px;

  }

  .box:hover .recipe-name {
    color: rgb(100, 99, 99);
  }

  .recipe-name {
    color: rgb(128, 128, 128);
    display: grid;
    text-align: center;
    padding-left: 5px;
    padding-bottom: 10px;
  }



  .icons-container {
    position: relative;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
  }
  

  .box > div {
padding-top: 5px;

  }

.recipe-photo {
  min-width: 285px;
  max-width: 285px;
  height: 265px;
  font-size: 20px;
  display: grid;
  place-self: center;
  border-radius: 50%;
  background-size: cover;
  background-color: rgba(197, 226, 231, 0.816);

}

.btn-no-style {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.settings-title {
  font-size: 38px;
  border-bottom: 1px solid rgb(100, 100, 140);
font-weight: 600;
display: grid;
grid-template-columns: 1fr 150px;
color: rgb(100, 100, 140);;
}

.add-btn-website {
  font-size: 15px;
  /* align-self: center; */
  color: rgb(101, 100, 100);
}

#remove-border-radius{
  border-radius: 15%;
}

.theme {

}

.theme-grid {
  display: grid;
  grid-template-columns: 100px 1fr ;
  font-size: 16px;
  align-items: center;

}

.colors button {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.lavender {
  background-color: rgb(210, 172, 255);
  border: 1px solid rgb(157, 130, 190);
  border-radius: 5px;
}

.orange {
  background-color: 	rgb(235, 150, 5);
  border: 1px solid rgb(235, 150, 5);
  border-radius: 5px;
}

.blue {
  background-color: 	rgb(50, 92, 253);
  border: 1px solid rgb(41, 74, 205);
  border-radius: 5px;
}

.default {
  background-color: 	rgb(197, 226, 231);
  border: 1px solid rgb(162, 186, 190);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 580px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


